body {
  font-family: Arial, sans-serif;
  background-color: #124f10;
  background-repeat: repeat;
}

#game-board {
  display: flex;
  width: min-content;
  min-width: 381px;
  margin: 30px auto;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: #a26d45;
  background-repeat: repeat;
  background-size: 100%;
  color: #3a291e;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 20px;
  margin: 20px 0;
}

.config-button, .help-button, .quit-button, .hint-button, .check-button, .start-button, .playing {
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  background-color: #9b6e50;
  color: #3a291e;
  border: 1px solid rgba(58, 41, 30, 0.8);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.config-button.disabled, .help-button.disabled, .quit-button.disabled, .hint-button.disabled, .check-button.disabled, .start-button.disabled, .playing.disabled {
  opacity: 0.5;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.15);
}
.config-button.disabled:hover, .help-button.disabled:hover, .quit-button.disabled:hover, .hint-button.disabled:hover, .check-button.disabled:hover, .start-button.disabled:hover, .playing.disabled:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.config-button.hidden, .help-button.hidden, .quit-button.hidden, .hint-button.hidden, .check-button.hidden, .start-button.hidden, .playing.hidden {
  display: none;
}

.config-button:hover, .help-button:hover, .quit-button:hover, .hint-button:hover, .check-button:hover, .start-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.check-button, .start-button {
  margin-top: 2em;
  padding: 0.5em 3em;
  width: max-content;
  align-self: center;
}
.check-button.hidden, .start-button.hidden {
  display: none;
}

.playing {
  display: inline-block;
  width: 7em;
  text-align: left;
}

#guesses {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#guesses .guess-holes {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
#guesses .feedback-holes {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#secret-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 10px 0;
}

.code-row, .guess-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 10px 0;
  -webkit-box-shadow: 0 4px 6px -6px #000;
  -moz-box-shadow: 0 4px 6px -6px #000;
  box-shadow: 0 4px 6px -6px #000;
}

.code-hole, .guess-hole {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.feedback-hole {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: brightness(0.75);
}
.feedback-hole:first-child {
  margin-left: 20px;
}

.code-hole {
  backdrop-filter: brightness(0.7);
}
.code-hole.covered {
  background: url("../img/secret.png");
  background-size: contain;
}

.guess-hole {
  backdrop-filter: brightness(0.7);
  cursor: pointer;
}
.guess-hole:hover {
  backdrop-filter: brightness(0.8);
}
.guess-hole.disabled {
  cursor: default;
}
.guess-hole.disabled:hover {
  backdrop-filter: brightness(0.7);
}

.hint-button {
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  margin-left: 20px;
}

.black-feedback {
  background-color: #252525;
}

.white-feedback {
  background-color: #d6d6d6;
}

.color-picker {
  display: none;
}
.color-picker.visible {
  display: flex;
  justify-content: center;
  z-index: 4;
  position: absolute;
}

.color-option {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.modal .modal-button {
  font-weight: bold;
  margin-top: 0.8em;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  backdrop-filter: brightness(0.75);
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  cursor: pointer;
}
.modal .modal-button:hover {
  backdrop-filter: brightness(0.9);
}

#help-modal, #config-modal, #quit-modal, #lost-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: 20% auto;
  padding: 10px 20px;
  text-align: center;
  border: 2px solid #503929;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #a26d45;
  line-height: 1.5em;
}

.win-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: 20% auto;
  padding: 10px 20px;
  border: 1px solid #e8d720;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px rgba(231, 214, 32, 0.2);
  background-color: #ffeb3b;
  color: #f55e01;
  font-weight: bold;
}
.win-modal .title {
  margin-right: 10px;
  font-size: 1.6em;
  line-height: 1.9em;
}
.win-modal .content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  font-size: 1.2em;
  line-height: 1.5em;
}
.win-modal .content .left {
  clear: both;
  float: left;
  padding-right: 3em;
}
.win-modal .content .right {
  padding-left: 3em;
  float: right;
  text-align: right;
}
.win-modal .modal-button {
  color: #f55e01;
  background-color: #fdea3b;
  border: 1px solid #f45e02;
}
.win-modal .modal-button:hover {
  background-color: #ffffff;
}

#config_dialog {
  display: grid;
  align-items: center;
  grid-template-columns: 80px 30px 220px;
  grid-template-rows: 3em 3em 3em;
  grid-column-gap: 0;
  grid-row-gap: 0;
}
#config_dialog #config_colors_slider {
  grid-row: 1;
  grid-column: 3;
}
#config_dialog #config_pins_slider {
  grid-row: 2;
  grid-column: 3;
}
#config_dialog #config_guesses_slider {
  grid-row: 3;
  grid-column: 3;
}
#config_dialog #colors_label {
  grid-row: 1;
  grid-column: 1;
  text-align: right;
}
#config_dialog #pins_label {
  grid-row: 2;
  grid-column: 1;
  text-align: right;
}
#config_dialog #guesses_label {
  grid-row: 3;
  grid-column: 1;
  text-align: right;
}
#config_dialog #config_colors_text {
  grid-row: 1;
  grid-column: 2;
}
#config_dialog #config_pins_text {
  grid-row: 2;
  grid-column: 2;
}
#config_dialog #config_guesses_text {
  grid-row: 3;
  grid-column: 2;
}
#config_dialog #config_colors_slider, #config_dialog #config_pins_slider, #config_dialog #config_guesses_slider {
  -webkit-appearance: none;
  height: 3px;
  border: 1px solid #34251b;
  background-color: #503929;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  display: inline-block;
  width: 180px;
  margin-left: 20px;
}
#config_dialog #config_colors_slider .ui-slider-handle, #config_dialog #config_pins_slider .ui-slider-handle, #config_dialog #config_guesses_slider .ui-slider-handle {
  width: 15px;
  height: 15px;
  background-color: #503929;
  border: 1px solid #34251b;
  border-radius: 50%;
  cursor: pointer;
  top: -7px;
}

/*# sourceMappingURL=style.css.map */
